<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/output.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="text-red-500">BLAJO</h1>
    <p class="text-red-700 text-9xl">afafwafa</p>
  </body>
</html>
